
@font-face{
    font-family: 'Segoe UI';
    src: url(../SegoeUI.ttf);
}
#header{
    border: 1px solid black;  
    height: 208px;
    float: right;
    position: absolute;
    background-color: #739CA2;
    right: 0;
    left: 364px;
}
#block-body{
    border: 1px solid green;  
    height: 100%;
    width: 100%;
}
#side-bar{
    height: 100vh;
    width: 364px;
    border: 1px solid black;  
    float: left;
    position: fixed;
    background-color: #292929;
}
#content{
    border: 1px solid red; 
    height: auto;
    margin-top: 208px;
    margin-left: 364px;
}
#footer{
    clear:both;
    border: 1px solid blue;  
    height: 208px;
    left: 364px;
    float: right;
    position: absolute;
    right: 0;
}
#logo{
    width: 175px;
    height: 110px;
    margin-top: 84px;
    margin-left: 71px;
}
#left-nav-menu{
    margin-left: 71px;
    margin-right: 40px;
    margin-top: 54px;
    position: absolute;
}
#left-nav-menu li{
    margin-top: 14px;   
}
#left-nav-menu li ul{
    display: none;
}
#left-nav-menu li a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #e3e3e3;
    cursor: pointer;
    font-weight: normal;
}
#left-nav-menu li a:hover{
    border-bottom: 1px solid #e3e3e3;
}
#submenu{
    border-left: 3px solid #e3e3e3;
    padding-left: 24px;
}
#search-area{
    margin-left: 71px;
    width: 222px;
    height: 27px;
    margin-bottom: 115px;
    position: absolute;
    bottom: 0px;
    background-color: #3F3F3F;
    outline: none;
    border: none;
    padding-left: 50px;
}
#search-area:focus{
    background-color: #5F5F5F;
    color: #e3e3e3;
    padding-left: 50px;
}
#search-img{
    margin-left: 71px;
    width: 24px;
    height: 24px;
    margin-bottom: 115px;
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
    padding-bottom: 2px;
}
#top-nav-menu{
   margin-left: 22px;
   margin-top: 113px;
}
#top-nav-menu li{
   float: left;
   margin-left: 80px;
}
#top-nav-menu li{
   float: left;
   margin-left: 80px;
}
#top-nav-menu a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #e3e3e3;
    cursor: pointer;
    font-weight: normal;
}
#top-nav-menu a:hover{
   border-bottom: 1px solid #e3e3e3;
}
#top-nav-menu a:target{
   border-bottom: 1px solid #e3e3e3;
}
#partners{
    height: 416px;
    width: 452px;
    background-color: #3E5042;
    margin-left: 102px;
    position: absolute;
    margin-right: 6px;
}
#partners h1 {
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Segoe UI';
    font-size: 45px;
    color: #e3e3e3;
}
#about-us{
    height: auto;
    width: 452px;
    background-color: #56685C;
    margin-left: 560px;
    position: relative;
}
#section{
    height: 219px;
    width: 910px;
    margin-left: 102px;
    margin-top: 6px;
    background-color: #56685C;
}
#logo-microsoft{
    height: 40px;
    width: 188px;
    margin-top: 40px;
    margin-left: 50px;
    background: url(../images/logo-microsoft.png);
    outline: none;
    position: absolute;
}
#logo-microsoft:hover{
    background: url(../images/logo-microsoft-hover.png);
}
#logo-intel{
    height: 70px;
    width: 101px;
    margin-top: 30px;
    float: right;
    margin-right: 50px;
    background: url(../images/logo-intel.png) no-repeat;
    outline: none;
}
#logo-intel:hover{
    background: url(../images/logo-intel-hover.png);
}
#about-us h1 {
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Segoe UI';
    font-size: 45px;
    color: #e3e3e3;
}
#about-us-img{
    height: 134px;
    width: 406px;
    margin-top: 40px;
    margin-left: 23px;
    margin-right: 23px;
    background: url(../images/about-us.png) no-repeat;
}
#about-us h2 {
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: bold;
    color: #e3e3e3;
    margin-top: 15px;
    margin-left: 23px;
}
#information-loren-ipsum {
    clear: both;
    font-family: 'Segoe UI';
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    color: #e3e3e3;
    margin-top: 12px;
    margin-left: 23px;
    margin-right: 23px;
}
#about-us h3 {
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: bold;
    color: #e3e3e3;
    margin-top: 19px;
    margin-left: 117px;
    padding-right: 20px;
}
#about-us h4 {
    font-family: 'Segoe UI';
    font-size: 13px;
    font-style: italic;
    color: #e3e3e3;
    margin-right: 23px;
    margin-left: 20px;
    margin-top: -13px;
    position: absolute;
    right: 0;
}
#about-us img {
    width: 80px;
    height: 89px;
    margin-left: 23px;
    margin-top: 19px;
    float: left;
    padding-right: 13px;

}
#information-linus-torvalds {
    font-family: 'Segoe UI';
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    color: #e3e3e3;
    margin-top: 12px;
    margin-right: 23px;
    padding-bottom: 23px;
}
#section h1 {
    padding-left: 28px;
    padding-top: 30px;
    font-family: 'Segoe UI';
    font-size: 45px;
    color: #e3e3e3;
    position: absolute;
}
#prev-img {
    clear: both;
    height: 31px;
    width: 21px;
    margin-left: 18px;
    bottom: 37px;
    position: relative;
    float: left;
    background: url(../images/prev.png) no-repeat;
}
#prev-img:hover {
    background: url(../images/prev-hover.png) no-repeat;
    cursor: pointer;
}
#slider{
    padding-top: 105px;
    display: block;
    margin-left: 40px;
}
#slider li{
    height: 50px;
    width: 50px;
}
    #camera{
        background: url(../images/camera.png) no-repeat;
        margin-right: 44px;
        margin-left: 44px;        
    }
    #rocket{
        background: url(../images/rocket.png) no-repeat;
        margin-right: 44px;
        margin-left: 44px;
            
    }
    #security{
        background: url(../images/security.png) no-repeat;
        margin-right: 44px;
        margin-left: 44px;            
    }
    #archive{
        background: url(../images/archive.png) no-repeat;
        margin-right: 44px;
        margin-left: 44px;
            
    }
    #energy{
        background: url(../images/energy.png) no-repeat;
        margin-right: 44px;
        margin-left: 44px;            
    }
    #protection{
        background: url(../images/protection.png) no-repeat;
        margin-right: 44px;
        margin-left: 44px;            
    }
#camera:hover,#rocket:hover,#security:hover,#archive:hover,#energy:hover,#protection:hover {
    opacity: 0.3;
}
#next-img {
    background: url(../images/next.png) no-repeat;
    height: 31px;
    width: 21px;
    bottom: 37px;
    margin-right: 18px;
    position: relative;
    float: right;
}
#next-img:hover {
    background: url(../images/next-hover.png) no-repeat;
    cursor: pointer;
}



