

@font-face{
    font-family: 'Segoe UI';
    src: url(../SegoeUI.ttf);
}
body{
    
    overflow-x:hidden; 
   overflow-y: hidden;
       scrollbar-base-color: #3A473D;
       
}
#header{ 
    height: 16%;
    width: 100%;
    float: right;
    position: absolute;
}
#block-body{  
    height: 100%;
    width: 81%;
    position: absolute;
    left: 19%;
}
#background{
    position:fixed;
    z-index: -1;
    left:0; 
    background-size: 100%;
}
#side-bar{
    height: 100%;
    width: 19%; 
    float: left;
    position: fixed;
    background-color: #292929;
}
#content{
    height: 68.5%;
    margin-top: 10.5%;
    margin-left: 6.5%;
    width: 94%;
}
#footer{
    height: 11%;
    width: 100%;
    margin-left: 6%;
    padding-top: 3%;
}
#footer-second-page{
    height: 11%;
    width: 100%;
    margin-left: 6%;
    padding-top: 2.2%;
}
#logo {
    width: 48%;
    height: 11%;
    margin-top: 23%;
    margin-left: 19.5%;
}
#logo img{
    width: 100%;
    height: 100%;
}
#left-nav-menu{
    height: 18.5%;
    width: 50%;
    margin-left: 20.5%;
    margin-left: 29.5%;
    margin-top: 15%;
    position: absolute;
}
#left-nav-menu li{
    /*margin-top: 8%;*/   
    line-height: 190%;
}

#left-nav-menu li a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #e3e3e3;
    cursor: pointer;
    font-weight: normal;
}
#left-nav-menu li a:hover{
    border-bottom: 1px solid #e3e3e3;
}
#submenu{
    border-left: 3px solid #e3e3e3;
    padding-left: 13%;
    height: auto; 
    display: none; 
}
#search-area{
    margin-left: 20.5%;
    width: 61%;
    height: 3%;
    position: absolute;
    bottom: 11.2%;
    top: 85.8%;
    background-color: #3F3F3F;
    outline: none;
    border: none;
    padding-left: 14%;
}
#search-area:focus{
    background-color: #5F5F5F;
    color: #e3e3e3;
}
#search-img{
    width: 7%;
    height: 2.5%;
    position: absolute;
    top: 86%;
    bottom: 11.5%;
    left: 22%;
    right: 71%;
}
#top-nav-menu{
   height: 41%;
   width: 99%;
   position: absolute;
   left: 1.4%;
   top: 69.4%;
   
}
#top-nav-menu li{
   float: left;
   margin-left: 5.2%;
}
#top-nav-menu a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #e3e3e3;
    cursor: pointer;
    font-weight: normal;
}
#top-nav-menu a:hover{
   border-bottom: 1px solid #e3e3e3;
}
#top-nav-menu a:target{
   border-bottom: 1px solid #e3e3e3;
}
#partners{
    height: 46.3%;
    width: 29%;
    background-color: #3E5042;
    position: absolute;
    top: 16%;
    bottom: 37.7%;
}
#partners h1 {
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Segoe UI';
    font-size: 45px;
    color: #e3e3e3;
}
#about-us{
    height: 46.3%;
    width: 29%;
    background-color: #56685C;
    margin-left: 29.4%;
    position: absolute;
    top: 16%;
    bottom: 37.7%;
}
#section{
    height: 21.6%;
    width: 58.4%;
    position: absolute;
    top: 63%;
    bottom: 15.4%;
    background-color: #56685C;
}
#logo-microsoft{
    height: 8.5%;
    width: 41.5%;
    margin-top: 9.3%;
    margin-left: 11%;
    background: url(../images/logo-microsoft.png) no-repeat;
    background-size: 100%;
    position: absolute;
}
#logo-microsoft:hover{
    background: url(../images/logo-microsoft-hover.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
}
#logo-intel{
    height: 70px;
    width: 101px;
    margin-top: 32px;
    float: right;
    margin-right: 50px;
    background: url(../images/logo-intel.png) no-repeat;
}
#logo-intel:hover{
    background: url(../images/logo-intel-hover.png) no-repeat;
}
#logo-gazprom{
    height: 78px;
    width: 160px;
    margin-top: 102px;
    margin-left: 50px;
    background: url(../images/logo-gazprom.png);
    position: absolute;
}
#logo-gazprom:hover{
    background: url(../images/logo-gazprom-hover.png);
}
#logo-sony{
    height: 40px;
    width: 160px;
    margin-top: 142px;
    float: right;
    margin-right: -100px;
    background: url(../images/logo-sony.png) no-repeat;
}
#logo-sony:hover{
    background: url(../images/logo-sony-hover.png);
}
#logo-rosatom{
    height: 100px;
    width: 81px;
    margin-top: 202px;
    margin-left: 50px;
    background: url(../images/logo-rosatom.png);
    outline: none;
    position: absolute;
}
#logo-rosatom:hover{
    background: url(../images/logo-rosatom-hover.png);
}
#logo-army{
    height: 56px;
    width: 240px;
    margin-top: 217px;
    float: right;
    margin-right: -160px;
    background: url(../images/logo-army.png) no-repeat;
}
#logo-army:hover{
    background: url(../images/logo-army-hover.png);
}
#point1{
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}
#point2{
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
    border-radius: 20px;
}
#point3{
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    margin-left: 60px;
    border-radius: 20px;
}
#point4{
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    margin-left: 90px;
    border-radius: 20px;
}
#about-us h1 {
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Segoe UI';
    font-size: 45px;
    color: #e3e3e3;
}
#about-us-img{
    height: 28%;
    width: 90%;
    margin-top: 8.9%;
    margin-left: 5.1%;
    margin-right: 5.1%;
    background: url(../images/about-us.png) no-repeat;
}
#about-us h2 {
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: bold;
    color: #e3e3e3;
    margin-top: 15px;
    margin-left: 23px;
}
#information-loren-ipsum {
    clear: both;
    font-family: 'Segoe UI';
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    color: #e3e3e3;
    margin-top: 12px;
    margin-left: 23px;
    margin-right: 23px;
}
#about-us h3 {
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: bold;
    color: #e3e3e3;
    margin-top: 19px;
    margin-left: 117px;
    padding-right: 20px;
}
#about-us h4 {
    font-family: 'Segoe UI';
    font-size: 13px;
    font-style: italic;
    color: #e3e3e3;
    position: absolute;
    right: 30px;
    bottom: 98px;
    top: 77%;
}
#about-us img {
    width: 18%;
    height: 19%;
    margin-left: 23px;
    margin-top: 19px;
    float: left;
    padding-right: 13px;

}
#information-linus-torvalds {
    font-family: 'Segoe UI';
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    color: #e3e3e3;
    margin-top: 12px;
    margin-right: 23px;
    padding-bottom: 23px;
}
#section h1 {
    padding-left: 28px;
    padding-top: 30px;
    font-family: 'Segoe UI';
    font-size: 45px;
    color: #e3e3e3;
    position: absolute;
}
#prev-img {
    clear: both;
    height: 31px;
    width: 21px;
    margin-left: 18px;
    bottom: 72px;
    position: relative;
    float: left;
    background: url(../images/prev.png) no-repeat;
}
#prev-img:hover {
    background: url(../images/prev-hover.png) no-repeat;
    cursor: pointer;
}
#slider{
    padding-top: 11.5%;
    display: block;
    margin-left: 40px;
}
#slider li{
    height: 80px;
    width: 130px;
    padding-left: 4px;
    padding-right: 4px;
}
#slider a{
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 12px;
    color: #e3e3e3;
    bottom: -75px;
    text-decoration: none;
}
#section-text
{
    margin-top: 45%;
    width: 127px;
    height: 16px;
    text-align: center;
    margin-left: 5px;

}
#section-img
{
    position: absolute;
    padding-left: 44px;
    padding-right: 44px;
    width: 52px;
    height: 52px;
    vertical-align: middle;
}
    
#slider a:hover{
    opacity: 0.3;
    cursor: pointer;
    text-decoration: underline;
}

#next-img {
    background: url(../images/next.png) no-repeat;
    height: 31px;
    width: 21px;
    bottom: 72px;
    margin-right: 18px;
    position: relative;
    float: right;
}
#next-img:hover {
    background: url(../images/next-hover.png) no-repeat;
    cursor: pointer;
}
#footer-information{
    height: 5%;
    width: 35%;
    position: absolute;
}
#contact-details{
    height:  5%;
    width: 13%;
    position: absolute;
    left: 47%;
    right: 40%;
}
#feedback{
    height: 4.5%;
    width: 13.5%;
    background-color: #56685C;
    cursor: pointer; 
    position: absolute;
    right: 22%;
    left: 64.5%;
}
#footer-information p{
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
    color: #e3e3e3;
}
#contact-details p{
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    color: #e3e3e3;
}
#feedback h1{
    text-align: center;
    line-height = height;
    font-family: 'Segoe UI';
    font-size: 100%;
    color: #e3e3e3;
    padding-top: 7%;
}
#floating-block{
    height: 25.7%;
    width: 13.3%;
    display: none;
    float: right; 
    right: 22.1%;
    position: absolute;
    bottom: 6.6%;
    background-color: #56685C;
    cursor: pointer;
    box-shadow: 0 0 10px;
}
#floating-block h1{
    text-align: center;
    line-height = height;
    font-family: 'Segoe UI';
    font-size: 17px;
    color: #e3e3e3;
    padding-top: 17px;
}
#partners2, #partners3, #partners4{
    display: none;
}
.current {
    border-bottom: 1px solid #e3e3e3;
}

#content-second-page{
    height: 69%;
    margin-top: 10.5%;
    margin-left: 6.5%;
    width: 60.5%;
    background-color: #56685C;
    padding-top: 0.5%;
}
#scroller{
    overflow-x: hidden;
    margin-right: 4px;

}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


#contacts{
    height: 608px;
    width: 100%;
    position: relative;
    background-color: #56685C;
}
#contacts h1 {
    padding-left: 2.2%;
    padding-top: 2.2%;
    font-family: 'Segoe UI';
    font-size: 45px;
    color: #e3e3e3;
    position: absolute;
}
#contacts img {
    margin-left: 2%;
    margin-top: 11.8%;
    height: 55.1%; 
    width: 86.5%;
}

#contacts-information{
    width: 56.2%;
    height: auto;
    margin-top: 2.4%;
    margin-left: 2%;
}
#first-contacts-information {
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
    color: #e3e3e3;
    padding-bottom: 50px;
}
/*#second-contacts-information {
    width: 520px;
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
    color: #e3e3e3;
    margin-left: 18px;
    bottom: 93px;
}*/
#contact-numbers{
    width: 20.5%;
    height: 16.5%;
    right: 16%;
    float: right;
    bottom: 7%;
    position: absolute;
}
#first-number, #second-number{
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    color: #e3e3e3;
}
#mail{
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: normal;
    line-height: 55px;
    color: #e3e3e3;
}